html {
    box-sizing: border-box;
    max-width: 2000px;
    font-family: 'Lato', sans-serif;
    font-family: 'Libre Baskerville', serif;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    background-color: rgb(11 130 111);
}